.chat-fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 48px;
  height: 48px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(204, 208, 214, 1);
  border-radius: 9999px;
  box-shadow: 1px 1px 2px 0 rgba(0, 19, 51, 0.08), 0 3px 16px 0 rgba(0, 19, 51, 0.08), 2px 4px 6px -3px rgba(0, 19, 51, 0.16);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.chat-fab:hover {
  transform: scale(1.1);
  box-shadow: 3px 5px 5px -3px rgba(0, 19, 51, 0.14), 3px 3px 14px 2px rgba(0, 19, 51, 0.08), 4px 24px 16px -16px rgba(0, 19, 51, 0.15);
}

.skye-logo-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.skye-logo {
  width: 28px;
  height: 32px;
  object-fit: contain;
}

