.mini-input {
  position: fixed;
  bottom: 16px;
  left: calc(50% - 70px);
  width: 140px;
  height: 32px;
  background: #FAFAFA;
  border: 1px solid #ccd0d6;
  border-radius: 9999px;
  box-shadow: 1px 1px 2px -1px rgba(0, 19, 51, 0.08) inset, 0 3px 8px -2px rgba(0, 19, 51, 0.08) inset, 2px 4px 4px -4px rgba(0, 19, 51, 0.16) inset;
  cursor: pointer;
}

.mini-input__base {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px 0 12px;
  gap: 8px;
}

.mini-input__placeholder {
  color: #9ca3af;
  font-size: 14px;
  line-height: 1;
  flex: 1;
  text-align: left;
}

.mini-input__icon-wrapper {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #9ca3af;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.mini-input__icon {
  width: 12px;
  height: 12px;
  filter: brightness(0) invert(1);
}

