.mini-input {
  position: fixed;
  bottom: 16px;
  background: #FAFAFA;
  border: 1px solid #ccd0d6;
  cursor: pointer;
}

.mini-input__base {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.mini-input__placeholder {
  color: #9ca3af;
  font-size: 14px;
  line-height: 1;
  flex: 1;
  text-align: left;
}

.mini-input__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.mini-input__icon-wrapper--large {
  padding: 5px;
}

.mini-input__icon {
  width: 100%;
  height: 100%;
  filter: brightness(0) invert(1);
  display: block;
}

.mini-input__icon--large {
  filter: none;
}

