.mini-input {
  position: fixed;
  bottom: 16px;
  left: calc(50% - 57px);
  width: 114px;
  height: 32px;
  background: white;
  border: 1px solid #ccd0d6;
  border-radius: 9999px;
  box-shadow: 
    inset 1px 1px 2px 0px rgba(0, 19, 51, 0.08),
    inset 0px 3px 16px 0px rgba(0, 19, 51, 0.08),
    inset 2px 4px 6px -3px rgba(0, 19, 51, 0.16);
  cursor: pointer;
}

.mini-input__base {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

